In [6]:
import pandas as pd
import numpy as np
import urllib.request

In [7]:
urllib.request.urlretrieve('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv', 'course_lead_scoring.csv')

('course_lead_scoring.csv', <http.client.HTTPMessage at 0x2c8f68f0f90>)

In [8]:
df = pd.read_csv('course_lead_scoring.csv')

In [10]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1334 non-null   object
 1   industry                  1328 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1281 non-null   float64
 4   employment_status         1362 non-null   object
 5   location                  1399 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [66]:
categorical = df.select_dtypes(include='object').columns
df[categorical] = df[categorical].fillna('n/a')

In [67]:
numerical = df.select_dtypes(include=['int64', 'float64']).columns
df[numerical] = df[numerical].fillna(0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1462 non-null   object
 1   industry                  1462 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1462 non-null   float64
 4   employment_status         1462 non-null   object
 5   location                  1462 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [16]:
df.industry.value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
N/A              134
Name: count, dtype: int64

In [17]:
df.head(20)

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,N/A,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,N/A,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
5,events,manufacturing,1,59904.0,N/A,africa,6,0.83,1
6,social_media,technology,0,51283.0,N/A,middle_east,2,0.57,0
7,social_media,N/A,5,62975.0,student,europe,4,0.62,1
8,referral,healthcare,4,38648.0,unemployed,south_america,2,0.86,1
9,paid_ads,other,3,59866.0,student,australia,3,0.43,1
10,paid_ads,retail,2,79276.0,employed,middle_east,2,0.92,1
11,organic_search,finance,4,80304.0,self_employed,N/A,3,0.97,1
12,organic_search,N/A,2,55615.0,self_employed,middle_east,6,0.71,1
13,social_media,other,3,55438.0,N/A,middle_east,1,0.69,0
14,paid_ads,healthcare,3,0.0,unemployed,middle_east,4,0.75,1
15,referral,healthcare,2,56004.0,student,middle_east,0,0.64,0
16,referral,retail,0,54612.0,self_employed,europe,4,0.86,1
17,referral,other,2,92470.0,unemployed,europe,4,0.74,1
18,referral,manufacturing,2,74380.0,self_employed,N/A,5,0.51,1
19,paid_ads,N/A,2,62809.0,self_employed,europe,5,0.33,1

In [21]:
print(df[numerical].corrwith(df[numerical].number_of_courses_viewed))
print(df[numerical].corrwith(df[numerical].annual_income))
print(df[numerical].corrwith(df[numerical].interaction_count))
print(df[numerical].corrwith(df[numerical].lead_score))
print(df[numerical].corrwith(df[numerical].converted))

number_of_courses_viewed    1.000000
annual_income               0.009770
interaction_count          -0.023565
lead_score                 -0.004879
converted                   0.435914
dtype: float64
number_of_courses_viewed    0.009770
annual_income               1.000000
interaction_count           0.027036
lead_score                  0.015610
converted                   0.053131
dtype: float64
number_of_courses_viewed   -0.023565
annual_income               0.027036
interaction_count           1.000000
lead_score                  0.009888
converted                   0.374573
dtype: float64
number_of_courses_viewed   -0.004879
annual_income               0.015610
interaction_count           0.009888
lead_score                  1.000000
converted                   0.193673
dtype: float64
number_of_courses_viewed    0.435914
annual_income               0.053131
interaction_count           0.374573
lead_score                  0.193673
converted                   1.000000
dtype: float64

In [22]:
from sklearn.model_selection import train_test_split

In [68]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [69]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [70]:
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

del df_train['converted']
del df_val['converted']
del df_test['converted']

In [30]:
from sklearn.metrics import mutual_info_score

In [31]:
categorical

Index(['lead_source', 'industry', 'employment_status', 'location'], dtype='object')

In [36]:
print(mutual_info_score(y_train, df_train.lead_score))
print(mutual_info_score(y_train, df_train.industry))
print(mutual_info_score(y_train, df_train.employment_status))
print(mutual_info_score(y_train, df_train.location))

0.08423850861292825
0.011574521435657112
0.012937677269442782
0.004464157884038034

C:\Users\daniel.otulagun\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\cluster\_supervised.py:59: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)

In [37]:
from sklearn.feature_extraction import DictVectorizer

In [71]:
numerical = numerical.drop('converted')

In [48]:
numerical

Index(['number_of_courses_viewed', 'annual_income', 'interaction_count',
       'lead_score'],
      dtype='object')

In [58]:
categorical.tolist()

['lead_source', 'industry', 'employment_status', 'location']

In [72]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical.tolist() + numerical.tolist()].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical.tolist() + numerical.tolist()].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [64]:
from sklearn.linear_model import LogisticRegression

In [78]:
from sklearn.metrics import accuracy_score


model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred_val = model.predict_proba(X_val)[:, 1]
y_pred = (y_pred_val >= 0.5).astype(int)

accuracy_dv = accuracy_score(y_val, y_pred)
print(accuracy_dv)

0.6996587030716723

In [ ]:
sorted(zip(dv.get_feature_names_out(), model.coef_[0]), key=lambda x: abs(x[1]), reverse=True)

In [89]:
for i in [0.01, 0.1, 1, 10, 100]:
    model = LogisticRegression(solver='liblinear', C=i, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred_val = model.predict_proba(X_val)[:, 1]
    y_pred = (y_pred_val >= 0.5).astype(int)
    accuracy_dv = accuracy_score(y_val, y_pred)
    print(f"C={i}: {accuracy_dv}")

C=0.01: 0.6996587030716723
C=0.1: 0.6996587030716723
C=1: 0.6996587030716723
C=10: 0.6996587030716723
C=100: 0.6996587030716723